<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bankspring.mapper.ArticleMapper">
    
    <insert id="insert" parameterType="Article">
       insert into Article(ART_SEQ, THM_SEQ, USERID, POSTING_DATE, READ_CNT, TITLE,CONTENT) 
        values(
         seq.nextval,#{thmSeq},#{userid},sysdate,#{readCnt},#{title},#{content}
        )
    </insert>
    
    <update id="update" parameterType="Article" >
        
    </update>
    <delete id="delete" parameterType="Article" >
    
    </delete>
    
    <select id="detail" resultType="Article" parameterType="Command">
     
    </select>
    
    <select id="search" resultType="Article" parameterType="Command" >
       select 
       t.*
        from (
        	select rownum as seq, 
        	a.art_seq as artSeq, 
			a.thm_seq as thmSeq,  
			a.userid  as userid ,  
			a.book_seq as bookSeq, 
			to_char(a.posting_date,'yyyy-mm-dd hh:mi:ss') as postingDate, 
			a.read_cnt as readCnt, 
			a.title as title, 
			a.content as content,
			m.name as name   
       		 from Article a join Member m 
       		 on a.userid = m.userid 
       		 and a.userid = #{searchVal}
       		 and a.thm_seq = #{theme} ) t
        where seq between #{start} and #{end}
        order by artSeq desc
    </select>    
    
    
     
    <select id="list" resultType="Article" parameterType="Command" >
        select 
        art_seq as artSeq, 
		thm_seq as thmSeq,  
		userid  as userid ,  
		book_seq as bookSeq, 
		posting_date as postingDate, 
		read_cnt as readCnt, 
		title as title, 
		content as content  
        from (select rownum as seq, a.* from Article a)
        where seq between #{start} and #{end}
        order by artSeq desc
    </select>
    
    <select id="count" resultType="int" parameterType="Command" >
       
    </select>
    
    <select id="size" resultType="int" parameterType="Command" >
        
    </select>
           
    
</mapper>
